:root {
  --color1: #6c63ff;
  --color2: #36393F;
  --color3: #56D5BC;
  --color4: #E27171;
}

/* Basic reset and full-viewport setup */
body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: white; /* Ensures a white background */
}